@using Beelog.UtilityClasses
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beelog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Beelog.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <style>
        body {
            background-color: #FFE227;
            color: #121013;
        }

        .navbar {
            /*background-color: #EB596E;*/
            background-color: #121013;
            color: #FFE227;
        }

        .footer {
            background-color: #121013;
        }

        .yellow-text, .nav-link, .nav-link:hover, .navbar-brand:hover {
            color: #FFE227;
        }

        .yellow-bg, .btn-warning {
            background-color: #FFE227;
            border: 0px;
        }
        </style>
</head>
<body style="min-height: 100vh; display: flex; flex-direction: column; margin-bottom: 0px;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand yellow-text display-6 fs-3" asp-area="" asp-controller="Home" asp-action="Index">Beelog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav display-6 fs-5 ms-auto">
                        @if (SignedIn.isSignedIn(Context))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Authentication" asp-action="Logout">Log out</a>
                            </li>
                        }
                        else 
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/SignUp">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/SignIn">Sign In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="flex: 1;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container text-center">
            <h5 class="display-6 py-3 fs-4">&copy; 2023 - Beelog</h5>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
