
@{
    ViewData["Title"] = "Search";
}

<div class="container bg-black mx-auto p-3 col-10" style="border-radius: 20px;">
    <div class="form-floating yellow-bg rounded-3 col-11 mx-auto">
        <input type="text" class="form-control bg-transparent border-0" id="searchBox" placeholder="name" name="Name" required>
        <label for="searchBox" class="bg-transparent">Enter name to search...</label>
    </div>
</div>

<div class="similar-names-container">

</div>

<script>
    $(document).ready(function () {
        $("#searchBox").on("input", function () {
            var searchTerm = $(this).val();
            var similarNamesContainer = $(".similar-names-container");
            similarNamesContainer.empty();
            $.ajax({
                url: '@Url.Action("GetSimilarNames", "Search")',
                type: 'GET',
                data: { searchTerm: searchTerm },
                success: function (data) {
                    $.each(data, function (index, user) {
                        var htmlContent = '<div class="container bg-black my-3 mx-auto p-3 col-10 yellow-text" style="border-radius: 20px;">'
                            + '<a class="display-3 fs-5 fw-bold yellow-text text-decoration-none" href="/Profile/ViewUser/' + user.id + '" >' +
                            user.name +
                            '</a>' +
                            '</div>'
                            similarNamesContainer.append(htmlContent);
                    });
                },
                error: function () {
                    console.log("An error occurred while retrieving similar names.");
                }
            });
        });
    });
</script>
